h1 {
    text-align: center;
    color: rgba(78, 65, 52, 0.692);
    font-family:initial;
    letter-spacing: 1px;
}

body {
    background-color: rgba(165, 138, 115, 0.795);
}

h3 {
   
}

p1{
    
}

p{
    float: right;
}