body{
    background-color: rgba(131, 147, 195, 0.32);
    text-align: left;
    font-family:monospace;
    font-size: 18px;
  }
  
  img{
    float: right;
    width: 300px;
    margin: 80px;
    border-color: rgba(57, 66, 157, 0.45);
    border-width: 4px;
    border-style: solid;
    border-radius: 10px;
  }
  
  
  h2{
    text-align: center;
    letter-spacing: 5px;
    color:rgba(57, 66, 157, 0.45);
    font-family:sans-serif;
  }
  h3{
    text-align: left;
    letter-spacing: 2px;
    font-size: 14px;
    text-decoration: underline;
    text-decoration-color: rgba(58, 68, 181, 0.45);
    color:rgba(24, 16, 30, 0.31);
    font-family:sans-serif;
  }
  p1{
    text-align: left;
    letter-spacing: 1px;
    color:rgba(100, 102, 202, 0.55);
  }
  p2{
    text-align: left;
    letter-spacing: 1px;
    color:rgba(100, 102, 202, 0.55);
  }
  p3{
    text-align: left;
    letter-spacing: 1px;
    font-size: 12px;
    color:rgba(88, 77, 144, 0.68);
  }
  h4 {
    text-align: left;
    letter-spacing: 2px;
    font-size: 14px;
    text-decoration: underline;
    text-decoration-color: rgba(57, 66, 157, 0.45);
    color:rgba(24, 16, 30, 0.31);
    font-family:sans-serif;
  }
  
  ol{
    color:rgba(100, 102, 202, 0.55);
  }
  
  ul{
    color:rgba(100, 102, 202, 0.55);
  }
  